html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 12px;
    text-align: center
}

.infocorp {
    margin: auto;
    width: 50%;
    max-width: 600px;
    display: block;
}

@media (max-width:1024px) {
    .infocorp {
        width: 80%;
    }
}

.description {
    padding: .5rem 1rem .3rem 1rem;
    background: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    display: inline-block
}

@media (max-width:1024px) {
    .description {
        margin: auto .5rem;
        font-size: .8rem;
    }
}

.coming_soon {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center
}

.shape-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    position: fixed;
    z-index: -9;
}

@media (max-width:1024px) {
    .shape-wrap {
        height: 20%;
    }
}

.shape-wrap .shape {
    width: 100%;
    height: 100%;
    fill: #111
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
}

.box-middle {
    width: 100%;
    align-self: center
}